<div class="py-5 bg-image-full">
    <div class="text-center my-5">
        <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "default-image.jpg", class:"img-fluid rounded-circle mb-4"; %>
        <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>
        <p class="text-white-50 mb-0">Landing Page Template</p>
    </div>
</div>
