<main>
  
  <div class="py-5 bg-image-full">
    <div class="text-center my-5">
      <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "default-image.jpg", class:"img-fluid rounded-circle mb-4"; %>
      <h1 class="text-white fs-3 fw-bolder">User Name</h1>
      <p class="text-white-50 mb-0">my introduction</p>
      
    </div>
  </div>
  
  <div class="page-section text-light" style="background-color: #393C49;" >
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">My posts</h2>
      <hr class="divider"/>
    </div>
  </div>
  
  <div id="portfolio">
      <div class="container-fluid p-0">
          <div class="row g-0">
            <!--リピート-->
              <div class="col-lg-4 col-sm-6 p-0">
                  <a class="portfolio-box" href="#" title="Project Name">
                      <%= attachment_image_tag @user, :profile_image, fallback: "photo1.jpg", class:"img-fluid"; %>
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Category</div>
                          <div class="project-name">Project Name</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6 p-0">
                  <a class="portfolio-box" href="#" title="Project Name">
                      <%= attachment_image_tag @user, :profile_image, fallback: "photo1.jpg", class:"img-fluid"; %>
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Category</div>
                          <div class="project-name">Project Name</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6 p-0">
                  <a class="portfolio-box" href="#" title="Project Name">
                      <%= attachment_image_tag @user, :profile_image, fallback: "photo1.jpg", class:"img-fluid"; %>
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Category</div>
                          <div class="project-name">Project Name</div>
                      </div>
                  </a>
              </div>
              <!--ここまで-->
          </div>
      </div>
  </div>
</main>
