<main>
  <div class="jumbotron jumbotron-about p-0 m-0">
    <div class="col-12 col-lg-4 text-center h-100" style="background-color: rgba(0,0,0,0.3); position: r">
      <div class="proverb text-light"> 
        <p>One cannnot think well, love well,</br>
          sleep well, if one has not dined well.
        </p>
        <p>~Virfinia Woolf~</p>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class=row>
      <div></div>
    </div>
  </div>
</main>