<main>
  <div class="jumbotron jumbotron-about p-0 m-0">
    <div class="col-12 col-lg-4 text-center h-100" style="background-color: rgba(0,0,0,0.3); ">
      <div class="proverb text-light"> 
        <p>One cannnot think well, love well,</br>
          sleep well, if one has not dined well.
        </p>
        <p>~Virfinia Woolf~</p>
      </div>
    </div>
  </div>
  </div>
  <section class="page-section text-light" style="background-color: #393C49;" >
      <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">About My portfolio</h2>
        <hr class="divider"/>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="fa-solid fa-user"></i></div>
                  <h3 class="h4 mb-2">ユーザー</h3>
                  <p class="text-muted mb-0">マイページや自分以外のユーザーページを閲覧することができます</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="fa-solid fa-right-to-bracket"></i></div>
                  <h3 class="h4 mb-2">ログイン機能</h3>
                  <p class="text-muted mb-0">サインアップ、ログインをすることで様々な機能を使えるようになります</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="fa-solid fa-comment"></i></div>
                  <h3 class="h4 mb-2">コメント</h3>
                  <p class="text-muted mb-0">ユーザーの投稿に対してコメントをすることができます</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <div class="mb-2"><i class="fa-solid fa-heart"></i></div>
                  <h3 class="h4 mb-2">いいね機能</h3>
                  <p class="text-muted mb-0">ユーザーの投稿にいいねができます</p>
              </div>
          </div>
        </div>
      </div>
    </section>
</main>