/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ここからTop画面のCSS
.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 350px;
  background: url(photo1.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 40%;
}

.site-name, {
  font-family: 'Playfair Display', serif;
}

.btn-Sign-Up {
  background-color: rgba(26, 237, 34, 0.6);
  color: #fff;
  font-family: 'Avenir', serif;
}
.btn-Sign-Up:hover {
  background-color: green;
  color: #fff;
}
.btn-Log-in {
  background-color: rgba(0, 102, 255, 0.6);
  color: #fff;
  font-family: 'Avenir', serif;
}
.btn-Log-in:hover {
  background-color: blue;
  color: #fff;
}
// ここまで

// ここからabout画面のCSS

.jumbotron-about {
  position: relative;
  height: 60vh;
  min-height: 250px;
  background: url(photo1.jpg) no-repeat center center;
  background-size: cover;
}
.proverb {
  position: relative;
  top: 40%;
  font-family: 'Avenir', serif;
}

.page-section {
  padding: 8rem 0;
}

hr.divider {
  height: 0.2rem;
  max-width: 4rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}
// ここまで

// ここからログインページのCSS
.form-bg {
  position: relative;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
// ここまで

// ここからマイページCSS
.bg-image-full {
  background: url(photo1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
