<footer>
  <div class="footer-img w-100 h-auto">
    <div class="footer-top text-center py-4">
      <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3 class="nav-brand">App name</h3>
          <p>
            konnnitiwa
          </p>
          <div class="col-10 offset-1 pb-2 text-center">
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-instagram"></i></a>
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-twitter"></i></a>
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-facebook"></i></a>
             <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <hr class="footer-divider"/>
    <div class="footer-main">
      <div class="container">
        <div class="row">
        <div class="col-sm-4 mx-5 mx-sm-0">
          <ul class="list-unstyled">
            <li class="my-3">和食</li>
            <li class="my-3">洋食・西洋料理</li>
            <li class="my-3">中華料理</li>
            <li class="my-3">アジア・エスニック料理</li>
            <li class="my-3">カレー</li>
          </ul>
        </div>
        <div class="col-sm-4 mx-5 mx-sm-0">
          <ul class="list-unstyled">
            <li class="my-3">焼き肉・ステーキ</li>
            <li class="my-3">居酒屋</li>
            <li class="my-3">カフェ・喫茶店</li>
            <li class="my-3">スイーツ・べーカリー</li>
            <li class="my-3">ラーメン・麺類</li>
          </ul>
        </div>
        <div class="col-sm-4 mx-5 mx-sm-0">
          <ul class="list-unstyled">
            <li class="my-3">Bar(バー）</li>
            <li class="my-3">ビュッフェ・バイキング</li>
            <li class="my-3">ファミレス・ファストフード</li>
            <li class="my-3">その他飲食店</li>
          </ul>
        </div>
  <!--ライセンスキー（HTMVrev)-->
  <!--D8385F87-75004B1A-81CD25AC-ABDE74B3-->
  </div>
      </div>
    </div>
    <hr class="footer-divider"/>
    <div class="footer-bottom text-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <p>&copy; 2024 Shinya Ito.(ライセンス</p>
        </div>
      </div>
    </div>
  </div>
</footer>