<footer class="container-fluid my-0 bg-dark text-center" style="background-color: black; color: #fff;">
  <div class="col-10 offset-1">
     <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-instagram"></i></a>
     <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-twitter"></i></a>
     <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-facebook"></i></a>
     <a class="px-2 link-secondary" href="#" style="color: white;"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <small>&copy; 2022 SampleSite.</small>
</footer>